body {
    background: URL("../images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.container {
    width: 65%;
    height: 550px;
    background: #fffdfd;
    margin-top: 60px;
    padding-top: 10px;
    background: URL("../images/pic.jpg");
    background-size: cover;
    color: white; 
}

#title {
    color: rgb(228, 220, 220);
    font-size: 60px;
    font-weight: bold;
}
#answer {
    color: rgb(155, 190, 253);
}
#choices-wrap {
    margin-left: 370px;
}
.score {
    display: none;
    margin-bottom: 200px;
}

.restart-button {
    display: none;
}
#start {
    width: 150px;
    height: 60px;
    font-size: 35px;
    margin-top: 10px;
}
#good {
    width: 250px;
    height: 150px;
}
#display {
    margin-top: -10px;
}
#choicesA:hover {
    background-color: rgb(61, 3, 3);
}
#choicesB:hover {
    background-color: rgb(61, 3, 3);
}
#choicesC:hover {
    background-color: rgb(61, 3, 3);
}
#choicesD:hover {
    background-color: rgb(61, 3, 3);
}